<%- include('../layouts/userHeader.ejs')  %>

  
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/img/other/shop3.png">
            <div class="container">

                <div class="title-info">
                    <h1>About Us</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- ABOUT
        ================================================== -->
        <section class="md">
            <div class="container">

                <!-- who we are -->
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-10 text-center">

                        <div class="text-center mb-1-9">
                            <h2 class="mb-0">Who We Are</h2>
                        </div>

                        <p class="lead mb-1-9 w-md-80 w-95 mx-auto">At our company, we are passionate about delivering high-quality hoodies that not only look great but also feel great to wear. We take pride in our commitment to using sustainable materials and ethical production methods, ensuring that our customers can feel good about their purchase. Join us as we continue to innovate and redefine what a great hoodie can be.</p>
                        <img src="img/logos/hoodhub.png" alt="..." class="img-style" style="height: 40px;"></div>
                </div>
                <!-- end who we are -->

                <!-- service -->
                <div class="row text-center">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="border px-1-6 py-1-9 p-lg-1-9 h-100">
                            <i class="ti-headphone-alt display-18"></i>
                            <h3 class="h5 my-3 letter-spacing-1">24/7 Free Support</h3>
                            <p class="w-lg-80 mx-auto mb-0">Please feel free to contact us and we provide best service.</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="border px-1-6 py-1-9 p-lg-1-9 h-100">
                            <i class="ti-money display-18"></i>
                            <h3 class="h5 my-3 letter-spacing-1">Money Back Return</h3>
                            <p class="w-lg-80 mx-auto mb-0">If you are not satisfied with product then we provide refunds.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="border px-1-6 py-1-9 p-lg-1-9 h-100">
                            <i class="ti-truck display-18"></i>
                            <h3 class="h5 my-3 letter-spacing-1">Free Worldwide Shipping</h3>
                            <p class="w-lg-80 mx-auto mb-0">We're very pleased to be able to worldwide shipping.</p>
                        </div>
                    </div>
                </div>
                <!-- end service -->

            </div>
        </section>
        
        <!-- COUNTER
        ================================================== -->
        <section class="bg-light md"  style="    padding: 47px 0;">

            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-sm-4 counter-style-one mb-1-9 mb-sm-0">
                        <div class="text-center">
                            <div class="icon mb-2 mb-md-0"><span class="fa-solid fa-user"></span></div>
                            <div class="title">
                                <h4 class="countup mb-0 font-weight-600 display-15"><%= usercount %></h4>
                                <span>Our customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 counter-style-one mb-1-9 mb-sm-0">
                        <div class="text-center">
                            <div class="icon mb-2 mb-md-0"><span class="ti-flag-alt"></span></div>
                            <div class="title">
                                <h4 class="countup mb-0 font-weight-600 display-15"><%= catcount  %></h4>
                                <span>Total Categories</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 counter-style-one">
                        <div class="text-center">
                            <div class="icon mb-2 mb-md-0"><span class="ti-bag"></span></div>
                            <div class="title">
                                <h4 class="countup mb-0 font-weight-600 display-15"><%= productcount  %></h4>
                                <span>Total Products</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
        <!-- VISION AND MISSION
        ================================================== -->
        <section>

            <div class="container">

                <div class="row align-items-center mb-6 mb-lg-8">
                    <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                        <img src="img/other/vision1.jpeg" alt="..." class="img-style">
                    </div>
                    <div class="col-md-6 col-lg-6 offset-lg-1">

                        <h3 class="display-24">Our Vision</h3>
                        <p class="lead mb-0">Our vision is to be the leading hoodie brand in the market, recognized for our commitment to quality, sustainability, and innovation. We aim to create hoodies that not only meet but exceed our customers' expectations, providing them with a level of comfort and style that they can't find anywhere else . We envision a world where everyone can enjoy the simple pleasure of wearing a great hoodie, without compromising on style or sustainability. </p>

                    </div>
                </div>
                <!-- end aboutus -->

                <!-- aboutus -->
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6 order-2 order-md-1">

                        <h3 class="display-24">Our Mission</h3>
                        <p class="lead mb-0">Our Mission is to create high-quality hoodies that empower individuals to express their unique style and personality. We believe that a great hoodie can bring comfort, confidence, and joy to people's lives, and we are committed to making that a reality for our customers. We prioritize sustainability and ethical production practices, ensuring that our hoodies are not only great for our customers but also great for the planet. </p>

                    </div>
                    <div class="col-md-6 col-lg-5 offset-lg-1 mb-1-9 mb-md-0 order-1 order-md-2">
                        <img src="img/other/mision.jpeg" alt="..." class="img-style">
                    </div>
                </div>
                <!-- end aboutus -->

            </div>

        </section>
        

        <!-- TEAM
        ================================================== -->
        <section class="md"  style="padding: 50px 0;">
            <div class="container">

                <div class="text-center mb-1-9 mb-lg-2-3">
                    <h2 class="mb-0">Our Team</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6 text-center mb-1-9 mb-lg-0">
                        <img src="img/team/1.jpg" alt="..." class="img-style">
                        <h3 class="mb-0 mt-4 display-27">Keir Prestonly</h3>
                        <p class="mb-0">Founder</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center mb-1-9 mb-lg-0">
                        <img src="img/team/2.jpg" alt="..." class="img-style">
                        <h3 class="mb-0 mt-4 display-27">Jeviyol Keror</h3>
                        <p class="mb-0">Co-Founder</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center mb-1-9 mb-sm-0">
                        <img src="img/team/3.jpg" alt="..." class="img-style">
                        <h3 class="mb-0 mt-4 display-27">Jamara Karle</h3>
                        <p class="mb-0">Designer</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-center">
                        <img src="img/team/4.jpg" alt="..." class="img-style">
                        <h3 class="mb-0 mt-4 display-27">Lenethi Miloler</h3>
                        <p class="mb-0">Designer</p>
                    </div>
                </div>
            </div>
        </section>

        

<%- include('../layouts/userFooter.ejs')  %>