<%- include('../layouts/userHeader.ejs')  %>

<section class="md">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8 mb-1-9 mb-lg-0">

                <div class="common-block">

                    <div class="inner-title">
                        <h4 class="mb-0">Edit Address</h4>
                        <p class="mb-0"></p>
                    </div>

                    <form method="post" action="">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" value="<%= address.name  %>"  >
                                </div>

                            </div>
                            

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Place</label>
                                    <input type="text" class="form-control" name="place" value="<%= address.place  %>"  >
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control" name="street"  value="<%= address.street  %>">
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Number</label>
                                    <input type="tel" class="form-control" name="number"  value="<%= address.number  %>">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Building No</label>
                                    <input type="text" class="form-control" name="building"  value="<%= address.building  %>">
                                </div>
                            </div>

                          
                           
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>District</label>
                                    <input type="text" class="form-control" name="district"  value="<%= address.district  %>">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control form-select" name="state">
                                        <option  value="<%= address.state  %>" ><%= address.state %></option>
                                        <option value="Andhra Pradesh">
                                            Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">
                                            Arunachal Pradesh</option>
                                        <option value="Assam">Assam
                                        </option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">
                                            Chhattisgarh</option>
                                        <option value="Goa ">Goa </option>
                                        <option value="Gujarat ">Gujarat
                                        </option>
                                        <option value="Haryana ">Haryana
                                        </option>
                                        <option value="Himachal Pradesh ">
                                            Himachal Pradesh </option>
                                        <option value="Jharkhand ">Jharkhand
                                        </option>
                                        <option value="Karnataka ">Karnataka
                                        </option>
                                        <option value="Kerala ">Kerala
                                        </option>
                                        <option value="Madhya Pradesh ">
                                            Madhya Pradesh </option>
                                        <option value="Maharashtra ">
                                            Maharashtra </option>
                                        <option value="Manipur ">Manipur
                                        </option>
                                        <option value="Meghalaya ">Meghalaya
                                        </option>
                                        <option value="Mizoram ">Mizoram
                                        </option>
                                        <option value="Nagaland ">Nagaland
                                        </option>
                                        <option value="Odisha ">Odisha
                                        </option>
                                        <option value="Punjab ">Punjab
                                        </option>
                                        <option value="Rajasthan ">Rajasthan
                                        </option>
                                        <option value="Sikkim ">Sikkim
                                        </option>
                                        <option value="Tamil Nadu ">Tamil
                                            Nadu </option>
                                        <option value="Telangana ">Telangana
                                        </option>
                                        <option value="Tripura ">Tripura
                                        </option>
                                        <option value="Uttar Pradesh">Uttar
                                            Pradesh</option>
                                        <option value="Uttarakhand">
                                            Uttarakhand</option>
                                        <option value="West Bengal ">West
                                            Bengal </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Pincode</label>
                                    <input type="text" class="form-control" min="6"  name="pincode"  value="<%= address.pincode  %>">
                                </div>
                            </div>

                            <input type="hidden" value="<%= address._id  %>">

                           

                        </div>

                

                        <button type="submit" class="butn-style2 mt-4">Submit</button>

                    </form>

                </div>

            </div>

            
        </div>
    </div>
</section>



<%- include('../layouts/userFooter.ejs')  %>