<%-include('../layouts/userHeader.ejs') %>


        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/img/other/shop5.png">
            <div class="container">

                <div class="title-info">
                    <h1>
                        <%=product[0].productname %>
                    </h1>
                </div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Shop Product Detail</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <!-- PRODUCT DETAILS
        ================================================== -->
        <section class="md">
            <div class="container">

                <!-- product section -->
                <div class="row mb-6 mb-md-7 mb-lg-9">
                    <div class="col-lg-5 text-center text-lg-start mb-1-9 mb-lg-0">

                        <!-- product left start -->
                        <div class="xzoom-container" >
                            <img class="xzoom5 mb-1-9" id="xzoom-magnific"  src="<%=product[0].productImage[0] %>"
                                xoriginal="<%=product[0].productImage[0] %>" alt="..." />
                            <div class="xzoom-thumbs no-margin">

                                <% if(product[0].productImage.length> 0){
                                    for (let i = 0; i <product[0].productImage.length; i++) { %>

                                        <a href="<%=product[0].productImage[i] %>"><img class="xzoom-gallery5"
                                                width="80" style="height: 80px;" src="<%=product[0].productImage[i] %>"
                                                title="The description goes here"></a>
                                        <% } } %>

                            </div>

                        </div>
                     

                    </div>
                    <div class="col-lg-7 ps-lg-2-3">
                        <div class="product-detail">
                            <h2 class="mb-1">
                                <%=product[0].productname %> <span
                                        class="label-sale bg-primary text-white text-uppercase display-31">Sale</span>
                            </h2>
                            <div class="bg-primary separator-line-horrizontal-full mb-4"></div>
                            <p class="rating-text"><span>SKU:</span> <span class="font-500 theme-color">290397</span>
                            </p>
                            <p>
                                <%=product[0].description %>
                            </p>

                            <div class="mb-4">

                                <div class="d-inline-block me-3 pe-3 borders-end border-color-extra-medium-gray">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>

                                <div class="d-inline-block">
                                    <a class="text-primary" href="#">Write a review</a>
                                </div>

                            </div>
                            <div class="mb-4">
                                <span class="me-3 display-26 font-weight-600 offer-price">₹<%= product[0].offer_price %>
                                </span>
                                <span class="display-26 font-weight-700 text-primary">₹<%= product[0].price %></span>
                            </div>

                            <div class="row">
                                <div class="col-5 col-md-3">
                                    

                                </div>

                            </div>
                           

                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    <% if(product[0].quantity > 0 ){ %>
                                    <button onclick="addtocart('<%= product[0]._id %>','<%= product[0].price %>')"
                                        class="butn-style2 me-3 mb-2 mb-md-0"><span><i
                                                class="fas fa-shopping-cart me-1"></i> Add to Cart</span></button>
                                            
                                                <% }else{ %>
                                                    <button class="btn btn-danger" > Out Of Stock </span></button>    

                                            <% } %>     
                                    <button onclick="addtowishlist('<%= product[0]._id %>')"
                                        class="butn-style2 dark"><span><i class="fas fa-heart me-1"></i> Add to
                                            wishlist</span></button>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-7">

                                    <label class="font-weight-600">Share on:</label>
                                    <ul class="social-icon-style1 ps-0">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product section -->

                <!-- product description -->
                <div class="row justify-content-center mb-6 mb-md-7">

                    <div class="col-12">
                        <div class="horizontaltab tab-style-two">
                            <ul class="resp-tabs-list hor_1 text-start">
                                <li><i class="ti-line-dashed d-md-block d-none"></i>Description</li>
                             
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>

                                    <p><%=product[0].description %>.</p>
                                    <ul class="primary-list mb-4 ps-0">
                                        <li>Dry clean Onlt </li>
                                        <li>French Terry</li>
                                        <li>Shell: Cotton 60%, Polyester 40%</li>
                                        <li>Elastic rib: Cotton 95%, Elastane 5%</li>
                                    </ul>
                                    <p class="m-0">This information is based on sample of the product displayed on website.
                                         There may be change in the information on label attached to the product delivered 
                                         to the customer due to size chosen, date of import, name of manufacturer 
                                         (in case of manufacturing in India), country of manufacture, etc. The exact detail 
                                         relevant to the product delivered to the customer will reflect in the label attached 
                                         to the product so delivered</p>

                                </div>
                                <div>
                                   

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end product description -->

                <!-- related product -->
                <div class="inner-title">
                    <h3 class="mb-0">Related Products</h3>
                </div>

                <div class="product-grid-slide owl-carousel owl-theme">

                    <% products.forEach(x=> { %>


                        <div class="product-grid">
                            <div class="product-img">
                                <a href="/product_view?name=<%= x._id %>"><img style="height: 300px;" src="<%=x.productImage[0] %>"
                                        alt="..."></a>
                            </div>
                            <div class="product-description">
                                <h3><a href="/product_view?name=<%= x._id %>">
                                        <%= x.product_name %>
                                    </a></h3>
                                <h4 class="price">
                                    <span class="offer-price">
                                        ₹ <%= x.offer_price %>
                                    </span>
                                </h4>
                            </div>
                            <div class="product-buttons">
                                <ul class="ps-0">
                                    <li><button type="button" style="border: none;"
                                            onclick="addtocart('<%= x._id %>','<%= x.price %>')" class="btn btn-link"
                                            title="Add To Wishlist"><i class="far fa-heart"></i></button></li>

                                          
                                    <li><button type="button" style="border: none;"
                                            onclick="addtocart('<%= x._id %>','<%= x.price %>')"
                                            class="btn btn-link" title="Add To Wishlist">Add to
                                            Cart</button></li>

 
                                </ul>
                            </div>
                        </div>

                        <% }); %>




                </div>
            

            </div>
        </section>

     

            </div>



            <!-- SCROLL TO TOP
    ================================================== -->
            <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://payalord.github.io/xZoom/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="https://payalord.github.io/xZoom/source/js/xzoom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://payalord.github.io/xZoom/css/xzoom.css" media="all" /> 
  <script type="text/javascript" src="https://payalord.github.io/xZoom/js/setup.js"></script>

            <script>
        function addtocart(proid, pro_price) {

$.ajax(
    {
    url: '/add_cart',
    data: {
        productId: proid,
        price: pro_price
    },
    method: 'post',

    success: (res) => {
        if (res.success) {
            Swal.fire({
                title: 'Added',
                text: 'product added to cart',
                icon: 'success',
                showConfirmButton: false,
                timer: 2000
            })
        } else {
            Swal.fire({
                title: 'Already Exist',
                text: 'Product Already in Cart',
                icon: 'info',
                showConfirmButton: false,
                timer: 1000
            })

        }

    }
})

}

function addtowishlist(proid) {
                $.ajax({
                    url: '/add_to_wishlist',
                    data: {
                        productId: proid
                    },
                    method: 'post',
                    success: (response) => {
                        if (response.success) {
                            Swal.fire({
                                title: 'added',
                                text: 'product added to whilist',
                                icon: 'success',
                                showConfirmButton: false,
                                timer:1500
                            })
                        } else {
                            Swal.fire({
                                title: 'Already Exist',
                                text: 'Product Already in Wishlist',
                                icon: 'info',
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    }
                })
            }
            

                $('#review_form').submit((x) => {
                    x.preventDefault()
                    $.ajax({
                        url: "/add_review",
                        method: "post",
                        data: $('#review_form').serialize(),
                        success: (response) => {
                            $('#reloadDiv').load('/product_view #reloadDiv')
                        }
                    })
                })

            </script>

<%- include('../layouts/userFooter.ejs')  %>