<%- include('../layouts/userHeader.ejs')  %>
  <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/img/other/shop5.png">
            <div class="container">

                <div class="title-info">
                    <h1>My Wishlist</h1>
                </div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/wishlist">My Wishlist</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <!-- ACCOUNT WISHLIST
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row justify-content-center">

                    <!-- left panel -->
                    <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

                        <div class="account-pannel">

                            <div class="p-4">

                                <div class="text-center">
                                    <div class="pb-3">
                                        <img class="img-fluid rounded-circle img-thumbnail"
                                            src="img/icons/user.png" alt="...">
                                    </div>
                                    <h6 class="mb-0 display-28"><%= user.name %></h6>
                                    <small>Joined <%= user.join_date.toLocaleDateString() %></small>
                                    <div class="reward-points">
                                        <i class="fa-solid fa-wallet"></i> Wallet: <%= user.wallet %>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group">
                                <a class="list-group-items" href="/orders"><i class="ti-bag pe-2"></i>Orders<span
                                        class="badge badge-pill"></span></a>
                                <a class="list-group-items" href="/profile"><i class="ti-user pe-2"></i>Profile</a>
                                <a class="list-group-items" href="/address"><i
                                        class="ti-location-pin pe-2"></i>Addresses</a>
                                <a class="list-group-items active" href="/wishlist"><i
                                        class="ti-heart pe-2"></i>Wishlist<span class="badge badge-pill"></span></a>

                            </div>

                        </div>

                    </div>
                    <!-- end left panel -->

                    <!-- right panel -->
                    <div class="col-lg-8">

                        <div class="common-block">
                            
                            <div class="inner-title">
                                <h4 class="mb-0">My Wishlist</h4>
                            </div>
                            <% if(wishlist.length> 0) { %>
                            <div class="table-responsive" id="reloadDiv">
                                <table class="table v-align-middle">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th></th>
                                            <th>Price</th>
                                            <th>Stock Status</th>
                                            <th>Add To Cart</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            <% for (let i = 0; i < wishlist.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <a href="#"><img
                                                                src="<%= wishlist[i].product.productImage[0] %>"
                                                                alt="..." height="80px" width="80px" /></a>
                                                    </td>
                                                    <td><a href="#">
                                                            <%= wishlist[i].product.productname %>
                                                        </a></td>
                                                    <td class="product-price">₹<%= wishlist[i].product.price %>
                                                    </td>
                                                    <% if( wishlist[i].product.quantity> 0 ){ %>
                                                        <td class="product-quantity"><b>In Stock</b></td>
                                                        <% }else { %>
                                                            <td class="product-quantity" style="color: darkred; "><b>No
                                                                    Stock</b></td>
                                                            <% } %>
                                                            <td> <button class="butn-style2 small"
                                                                onclick="addtocart('<%= wishlist[i].product.price %>','<%= wishlist[i].product._id %>')">Add
                                                                To Cart</button></td>
                                                        <td><button
                                                                        onclick="deleteWish('<%= wishlist[i].product._id %>')"
                                                                        style="border: none;"><i
                                                                            class="fas fa-trash"></i></button>
                                                               </td>
                                                </tr>
                                                <% } %>
                                                   
                                    </tbody>
                                </table>
                            </div>
                            
                            <% } else{ %>
                                <div class="text-center">
                                    <img style="width: 200px; height: auto;" src="/img/other/noorder.gif" alt=""
                                    >
                                    <h5>No Items.!</h5>
                                    <a  class="butn-style2 small"  href="/shop">continue Shoping</a>
                                    </div>
                       
                        <% } %>
                        </div>

                    </div>
                    
                </div>
            </div>
        </section>
        

        



        <!-- SCROLL TO TOP
    ================================================== -->
        <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <script>
            function deleteWish(proid) {

                        $.ajax({
                            url: "/remove_wishlist",
                            data: {
                                productId: proid
                            },
                            method: 'post',
                            success: (response) => {
                                $('#reloadDiv').load('/wishlist #reloadDiv')
                                console.log(response);
                                Swal.fire({
                                    title: 'deleted!',
                                    text: 'Item deleted', 
                                    icon: 'success',
                                    showConfirmButton: false
                                })
                            
                            }
                        })
                     
                
            }
         
                
function addtocart(price,proid) {
$.ajax({
    url: '/add_to_cart',
    data: {
        productId: proid,
        price:price

    },
    method: 'post',

    success: (res) => {
        if (res.success) {
            Swal.fire({
                title: 'Added',
                text: 'product added to cart',
                icon: 'success',
                showConfirmButton: false,
                timer: 2000
            })
        } else {
            Swal.fire({
                title: 'Already Exist',
                text: 'Product Already in Cart',
                icon: 'info',
                showConfirmButton: false,
                timer: 1000
            })

        }
    }
})

}
</script>

<%- include('../layouts/userFooter.ejs')  %>